<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web-Scapper</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <form action="/submit" method="post">
        <div class="container">
          <div class="card">
            <a class="singup">Lets go</a>
            <div class="inputBox1">
              <input type="text" name="url">
              <label class="user">Website URL</label> 
            </div>
            <div class="inputBox1">
              <input type="text" name="companyName"> 
              <label class="user">Company Name</label> 
            </div>
            <button class="enter" type="submit">Start</button>
          </div>
        </div>
      </form>
      
</body>
</html>