<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web-Scapper</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <form action="/" method="get">
        <div class="container">
          <div class="card">
              <em class="singup"> <%= companyName %> </em> Investment report download Sucessfull
            <button class="enter" type="submit">Home Page</button>
          </div>
        </div>
      </form>
      
</body>
</html>